<!-- Navbar start -->
<div id="navbar-main" class="container-fluid border-bottom bg-light wow fadeIn navbar-container" data-wow-delay="0.1s">
    <div class="container topbar bg-primary d-none d-lg-block py-2" style="border-radius: 0 40px">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-globe me-2 text-secondary"></i> <a href="#" class="text-white">دورات إنجليزي أونلاين للأطفال</a></small>
                <small class="me-3"><i class="fab fa-whatsapp me-2 text-secondary"></i><a href="https://wa.me/972529435949" class="text-white">تواصل معنا عبر واتساب</a></small>
            </div>
            <div class="top-link pe-2 d-flex align-items-center">
                <div class="astronaut-animation me-3">
                    <img src="img/animations/cute_astr.gif" alt="Cute Astronaut" class="astronaut-gif">
                </div>
                <div class="social-links">
                    <a href="https://www.facebook.com/Englishiway/" target="_blank" class="btn social-btn btn-sm-square rounded-circle"><i class="fab fa-facebook-f text-white"></i></a>
                    <a href="https://www.instagram.com/englishwayy/" target="_blank" class="btn social-btn btn-sm-square rounded-circle me-0"><i class="fab fa-instagram text-white"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light navbar-expand-xl py-3">
            <a href="index.html" class="navbar-brand">
                <img src="img/logos/English_way_kids.jpg" alt="English Way Kids" class="navbar-brand-logo floating-logo">
            </a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto navbar-pills">
                    <a href="#home" class="nav-item nav-link active">الرئيسية</a>
                    <a href="#about" class="nav-item nav-link">عن البرنامج</a>
                    <a href="#services" class="nav-item nav-link">خدماتنا</a>
                    <a href="#programs" class="nav-item nav-link">البرامج</a>
                    <a href="#events" class="nav-item nav-link">لماذا نبدأ مبكراً؟</a>
                    <a href="#team" class="nav-item nav-link">فريقنا</a>
                    <a href="#testimonials" class="nav-item nav-link">آراء العملاء</a>
                    <a href="#faq" class="nav-item nav-link">الأسئلة المتكررة</a>
                </div>

                <a href="https://wa.me/972529435949" class="btn whatsapp-cta">
                    <i class="fab fa-whatsapp me-2"></i>اتصل بنا الآن
                </a>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End --> 